$contentWidth: 940px;
$baseFontSize: 15px;
$baseLineHeight: 1.2;
$baseFontFamily: "Open Sans", sans-serif;
$titleFontFamily: "Montserrat", sans-serif;

$textColor: #9aa0ab;
$titleColor: #465065;

$navColor: #263742;
$accentColor: #fa5c65;
$accentColorSec: #314a5b;


@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: flex;
}

@mixin flow($values) {
    -webkit-flex-flow: $values;
    flex-flow: $values;
}

@mixin flex($values) {
    -webkit-box-flex: $values;
    -moz-box-flex:  $values;
    -webkit-flex:  $values;
    -ms-flex:  $values;
    flex:  $values;
}

@mixin order($val) {
    -webkit-box-ordinal-group: $val;
    -moz-box-ordinal-group: $val;
    -ms-flex-order: $val;
    -webkit-order: $val;
    order: $val;
}

@mixin transition($val) {
    -webkit-transition: ($val);
    -moz-transition: ($val);
    -ms-transition: ($val);
    -o-transition: ($val);
    transition: ($val);
}

%ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.accent {
    color: $accentColor;
}

body {
    color: $accentColorSec;
    background: #fff;
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: $baseFontFamily;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
}

.content-wrap {
    max-width: $contentWidth;
    width: 100%;
    margin: 0 auto;
    &::after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
}

h1 {
    font-family: $titleFontFamily;
    font-size: 48px;
    font-weight: 700;
    line-height: 53px;
    text-transform: uppercase;
}

h2 {
    font-family: $titleFontFamily;
    font-size: 40px;
    font-weight: 700;
    line-height: 46px;
    text-transform: uppercase;
    margin: 0;
}

.btn {
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1.2;
    padding: 20px 35px;
    border-radius: 7px;
    background-color: $accentColor;
    display: inline-block;
    color: #fff;
    font-weight: 700;
    @include transition(.3s);
    &:hover {
        background: $accentColorSec;
        //background: darken($accentColor, 15%);
    }
}

a.more {
    color: $accentColor;
    display: inline-block;
    font-size: 14px;
    font-family: $titleFontFamily;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
    @include transition(.3s);
    &:after {
        //content: '→';
        content: '\f178';
        font-family: FontAwesome;
        //display: inline-block;
        margin-left: 6px;
        font-weight: 600;
        line-height: 16px;
    }
    &:hover {
        color: $accentColorSec;
    }
}

.right {
    float: right;
}
