@import "type";
@import "settings";

.top {
    height: 100vh;
    box-sizing: border-box;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50% 0;
    background-attachment: fixed;
    .content-wrap {
        height: 100%;
        @include flexbox;
        @include flow(row wrap);
        header {
            width: 100%;
            @include flexbox;
            justify-content: space-between;
            .logo {
            }
            nav {
                ul {
                    margin: 0;
                    list-style-type: none;
                    li {
                        display: inline-block;
                        a {
                            color: $navColor;
                            text-decoration: none;
                            font-family: $titleFontFamily;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 85px;
                            padding: 10px 18px;
                            text-transform: uppercase;
                            @include transition(.3s);
                            &:hover {
                                color: $accentColor;
                            }
                        }
                        &.social {
                            a {
                                padding: 10px 8px;
                                color: $accentColor;
                                font-size: 18px;
                                &:hover {
                                    color: $accentColorSec;
                                }
                            }
                        }
                    }
                }
            }
        }
        .slogan {
            width: 100%;
            max-width: 600px;
            h1 + p {
                margin-bottom: 45px;
            }
        }
    }
}

.snippets {
    margin-top: 80px;
    ul {
        @include flexbox;
        padding-left: 0;
        list-style: none;
        margin: 0;
        justify-content: space-between;
        li {
            width: 30%;
            h3 {
                font-family: $titleFontFamily;
                font-size: 26px;
                font-weight: 700;
                line-height: 26px;
                text-transform: uppercase;
                margin: 0 0 20px;
            }
            .intro {
                color: #9aa0ab;
            }
            .more {

            }
        }
    }
}

.portfolio {
    margin-top: 50px;
    .row {
        @include flexbox;
        justify-content: space-between;
        align-items: center;
        .col-1-2 {
            width: 48%;
            p {
                color: $textColor;
                margin: 30px 0;
                @media all and (min-width: 980px){
                    max-width: 90%;
                }
            }
            p + a.more {
                margin-top: 10px;
            }
            strong {
                color: $accentColorSec;
                font-weight: 400;
                font-size: 16px;
            }
        }
    }
}

.team {
    margin-top: 35px;
    .team-list {
        @include flexbox;
        list-style-type: none;
        margin: 0;
        padding: 0;
        justify-content: space-between;
        .team-member {
            width: 30%;
        }
    }
}